.button {
  cursor: pointer;
  color: inherit;
  border: none;
  padding: 15px;
  border-radius: 10px;
}

.clear {
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
}

.outlined {
  padding: 15px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
}