.link {
  margin-left: 10px;
  opacity: 1;
}

.item {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.icon {
  fill: var(--inverted-primary-color);

}

.collapsed {
  .link {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
