.App.dark {
  --bg-color: #060649;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #049604;
  --secondary-color: #04ff04;
  --inverted-primary-color: #123dc5;
  --inverted-secondary-color: #0450fd;
}