.App.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #1b1b49;

  --primary-color: #123dc5;
  --secondary-color: #044df5;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}