.app_orange_theme {
  --bg-color: #FBF8F4;
  --inverted-bg-color: #851212;

  --primary-color: #ef6f05;
  --secondary-color: #cc291b;
  --inverted-primary-color: #c9c7c6;
  --inverted-secondary-color: #faf4fb;
}
